body {
  margin: 0;
  font-family: sans-serif;
  font-weight: normal;
  color: blueviolet;
  text-align: left;
  background-color: yellowgreen;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}
h1 {
  color: rgb(32, 33, 36);
  display: block;
  font-family: arial, sans-serif;
  font-size: 30px;
  font-weight: 100;
  line-height: 29px;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(black, 0);
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: black;
  display: block;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
  text-transform: capitalize;
  font-weight: normal;
}
.weather-temp img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}
.weather-temp strong {
  color: black;
  font-size: 48px;
  font-weight: 400;
  line-height: 1;
}
.units {
  position: relative;
  font-size: 16px;
  top: -32px;
}

.overview {
  margin-bottom: 10px;
}
dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

sub,
sup {
  position: relative;

  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

table {
  border-collapse: collapse;
}

button:focus:not(:focus-visible) {
  outline: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
}

button,
input {
  overflow: visible;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}
output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}
